<app-header titulo = "card"></app-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>  

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nam quidem repellat, ducimus itaque explicabo consectetur fugiat harum labore pariatur est at inventore tempore praesentium doloribus dignissimos dolorem quam laboriosam!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://http2.mlstatic.com/D_NQ_NP_769891-MLM26959954041_032018-O.webp">

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, modi eos. Ullam repudiandae et neque alias obcaecati sequi, excepturi sunt nesciunt in aliquid natus aperiam atque quo iusto corporis ut.
    </ion-card-content>
  </ion-card>

</ion-content>
